* {
    box-sizing: border-box;
    margin: 0 auto;
}

nav{
    height: 80px;
    border-bottom: 1px solid gray;
}


.subtitle{
    float: left;
    margin-top:25px;
    margin-left:5px;
    
}

.sub-nav{
   display: flex;
   border: 1px solid black;
   
}

.g-logo img{
    margin-top:10px;
    margin-left:20px;
    float: left;
    width: 80px;
}

.container{
    padding-top:80px;
    max-width: 1000px;
    margin:0 auto;
}